<!DOCTYPE HTML>
<html>
<head>
	<title>Chat</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="{{ .AssetPath }}/css/reset.css" type="text/css">
	<link rel="stylesheet" href="{{ .AssetPath }}/css/sakura.css" type="text/css">
	<link rel="stylesheet" href="{{ .AssetPath }}/css/auth.css" type="text/css">
	<link rel="stylesheet" href="{{ .AssetPath }}/css/flash.css" type="text/css">
	{{ template "importmap.tmpl" . }}
	<script type="module" src='{{ .AssetPath }}/js/auth.js'></script>
</head>
<body>
	{{template "flash.html.tmpl" .Flashes}}
	<div class="container">
		<form action="/auth" method="post" data-turbo="false">
			{{ .CSRFField }}
			<input
				type="submit"
				name="auth"
				value="Sign in with GitHub">
		</form>
	</div>
</body>
