{{if .}}
<div class="flash-container">
	{{range $index, $flash := .}}
		{{ if eq $flash.Type "error" }}
			<div 
				class="flash-box"
				data-controller="flash"
				data-flash-index-value="{{$index}}">
				<button data-action="click->flash#close">
					&times;
				</button>
				{{$flash.Message}}
			</div>
		{{end}}
	{{end}}
</div>
{{end}}
