<!DOCTYPE HTML>
<html>
<head>
	<title>Chat</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sakura.css/css/sakura.css" type="text/css">
	<link rel="stylesheet" href="{{ .AssetPath }}/css/home.css" type="text/css">
	<link rel="stylesheet" href="{{ .AssetPath }}/css/flash.css" type="text/css">
	<script type="module">
		import 'https://cdn.skypack.dev/@hotwired/turbo@v7.3.0'
		import { Application } from 'https://cdn.skypack.dev/@hotwired/stimulus@v3.2.2'
		import { FlashController } from '{{ .AssetPath }}/js/flash_controller.js'
		import { FormController } from '{{ .AssetPath }}/js/form_controller.js'
		import { MessageController } from '{{ .AssetPath }}/js/message_controller.js'

		const application = globalThis.application = Application.start()
		application.register('flash', FlashController)
		application.register('form', FormController)
		application.register('message', MessageController)
	</script>
</head>
<body>
	{{template "flash.html.tmpl" .Flashes}}
	<div class="container">
		<div
			id="messages"
			data-controller="message"
			data-action="scroll->message#scroll turbo:submit-end@document->message#afterSubmit">
			{{ template "messages.stream.tmpl" . }}
		</div>
		<div class="form-container">
			<form
				data-controller="form"
				data-action="turbo:submit-end@document->form#reset"
				action="/messages" method="post">
				<input type="reset" data-form-target="reset">
				<input type="text" name="message" placeholder="Message" autocomplete="off" data-form-target="textInput">
				<input type="submit" value="Send">
			</form>
		</div>
	</div>
</body>
</html>
