<!DOCTYPE HTML>
<html>
<head>
	<title>Chat</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sakura.css/css/sakura.css" type="text/css">
	<script type="module">
		import 'https://cdn.skypack.dev/@hotwired/turbo@v7.3.0'
		import { Application } from 'https://cdn.skypack.dev/@hotwired/stimulus@v3.2.2'
		import { FlashController } from '/js/flash_controller.js'
		import { FormController } from '/js/form_controller.js'
		import { MessageController } from '/js/message_controller.js'

		const application = globalThis.application = Application.start()
		application.register('flash', FlashController)
		application.register('form', FormController)
		application.register('message', MessageController)
	</script>
</head>
<body>
	{{template "flash.html.tmpl" .Flashes}}
	{{/* 26px is sum of padding-top and padding-bottom of body defined in sakura.css */}}
	<div class="container" style="height: calc(100svh - 26px); display: grid; grid-template-rows: minmax(0, 1fr) minmax(8rem, 10svh)">
		<div
			id="messages"
			style="overflow-y: scroll; overflow-x: hidden; height: auto;"
			data-controller="message"
			data-action="scroll->message#scroll turbo:submit-end@document->message#afterSubmit">
			{{ template "messages.stream.tmpl" . }}
		</div>
		<div style="text-align: right; padding-top: 2rem">
			<form
				data-controller="form"
				style="display: grid; grid-template-columns: auto min(10rem);"
				data-action="turbo:submit-end@document->form#reset"
				action="/messages" method="post">
				<input type="reset" style="display: none" data-form-target="reset">
				<input type="text" name="message" placeholder="Message" style="width:100%" autocomplete="off" data-form-target="textInput">
				<input type="submit" value="Send">
			</form>
		</div>
	</div>
</body>
</html>
