<turbo-stream action="before" target="{{.BeforeID}}">
	<template>
		{{if .ReachedStart}}
			<div id="reached-start" hidden></div>
		{{end}}
		{{range .Messages}}
			{{ template "message.tmpl" . }}
		{{end}}
	</template>
</turbo-stream>
