<div
	id="{{ .GetID }}"
	class="message"
	style="margin-bottom: 1rem; margin-right: 2rem"
	data-messages-target="message"
	>
	<div style="font-size: 1.2rem; font-weight: bold;">{{ .GetAccount }} :</div>
	<div style="font-size: 1.2rem;">{{ .GetMessage }}</div>
	<div style="text-align: right; font-size: 0.8rem; color: #999;">{{ formatAsDateTime .GetCreatedAt }}</div>
</div>
