<div
	id="{{ .GetID }}"
	class="message"
	data-controller="scrolled-element"
	data-message-target="message"
	>
	<div class="account">{{ .GetAccount }} :</div>
	<div class="body">{{ .GetMessage }}</div>
	<div class="created-at">{{ formatAsDateTime .GetCreatedAt }}</div>
</div>
