<div id="{{.ID}}" style="margin-bottom: 1rem; margin-right: 2rem">
	<div style="font-size: 1.2rem; font-weight: bold;">{{ .Account }} :</div>
	<div style="font-size: 1.2rem;">{{ .Message }}</div>
	<div style="text-align: right; font-size: 0.8rem; color: #999;">{{ formatAsDateTime .CreatedAt }}</div>
</div>
