.flash-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}

.flash-box {
	background-color: #f9f9f9;
	width: 50%;
	padding: 1rem;
	margin: 1rem auto;
	border: 2px solid #c82c61;
	border-radius: 0.5rem;
}
.flash-box > button {
	display: block;
	float: right;
}
