<!DOCTYPE HTML>
<html>
<head>
	<title>Chat</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sakura.css/css/sakura.css" type="text/css">
	<script type="module">
		import { Application, Controller } from 'https://cdn.skypack.dev/@hotwired/stimulus@v3.2.2'

		class FlashController extends Controller {
			static values = { index: Number }

			connect() {
				const index = this.indexValue + 1
				setTimeout(() => this.element.remove(), index * 10 * 1000)
			}

			close(event) {
				this.element.remove()
			}
		}

		const application = Application.start()
		application.register('flash', FlashController)
	</script>
</head>
<body>
	{{template "flash.html.tmpl" .Flashes}}
	<div class="container" style="padding-top: 10rem">
		<form action="/signin" method="post">
			<input type="text" name="account" placeholder="Account Name">
			<input type="password" name="password" placeholder="Password">
			<input type="submit" value="Sign in">
			</div>
		</form>
		<div>
			<a href="/signup"><button>Sign up</button></a>
		</div>
	</div>
</body>
</html>
